*{
    font-family: 'Titillium Web', sans-serif;
    transition: all .2s ease;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    margin: 5px;
    transition: baground-color 0.5s;
}

/*Main Container*/


.initial_page {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: black;
    position: absolute;
    top: 0%;
    left: 0%;
}


.initial_page button{
    width: 50%;
    height: 40%;
    min-width: 200px;
    min-height: 50px;
    cursor: pointer;
    font-size: calc(16px + 15 * ((100vw - 320px) / 680));
    margin: 0 auto;
}


/*Now the style for the evaluation page*/

.evaluation_page {
        width: 100%;
        height: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: black;
        position: absolute;
        top: 0%;
        left: 0%;
}


.evaluation_page .image_wrapper{

    display: table-row;
    position: absolute;
    width: 50%;
    height: 75%;
}


.evaluation_page .image_wrapper .image_container {
    display: table-cell;
}
.evaluation_page .image_wrapper .image_container img {

    position: absolute;
}

/*Help Icon Style*/
.help{
    display: inline-block;
    position: absolute;
    width: 5%;
    height: 3%;
    margin: 0 auto;
    top: 5%;
    left: 3%;
}

.help .question {
    min-height: 40px;
    min-width: 40px;
    background: #ccc;
    font-size: 32px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.help .helpmessage {
    visibility: hidden;
    width: 250px;
    background-color: #333;
    color: #fff;
    background-color: aquamarine;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 3%;
}


.help .helpmessage:hover{
    visibility: visible;
}


/* Color styles: difine the colors and their hoover */
.blue {
    background-color : rgba(0, 100, 200, 1);
}

.blue:hover {
    background-color: rgba(0, 155, 255, 1);
}

.green {
    background-color: rgba(0, 200, 100, 1);
}

.green:hover {
    background-color: rgba(0, 255, 155, 1);
}

.yellow{
    background-color: rgba(190, 200, 50, 1);
}

.yellow:hover{
    background-color: rgba(240, 250, 60, 1);;
}


/*Now Store the old Icons to provide a working version wile refactoring the code in 
teh dev branch*/

.container {
    position: relative;
    background-color: #111;
    /* Black*/
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    background-color: black;
    border: 1px solid #000;
    color: white;
    transition: 0.5s;
}

.main_image {
    position: absolute;
    display: block;
    top: 75px;
    left: 150px;
}

.overlay_image {
    position: absolute;
    display: block;
    top: 75px;
    left: 150px;
    z-index: 1;
}

.hide_button {
    position: absolute;
    top: 600px;
    left: 150px;
    width: 512px;
    height: 50px;
    font-size: 25px;
}

.upload_buttons {
    position: absolute;
    left: 25px;
    width: 768px;
    height: 128px;
    font-size: 50px;
}

.slider {
    position: absolute;
    top: 575px;
    left: 25px;
    width: 512px;
}

/* Upper grid of images */
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

/* Style the images inside the grid */
div.scrollmenu img {
    opacity: 0.8;
    cursor: pointer;
}

div.scrollmenu img:hover {
    opacity: 1;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}