*{
    font-family: 'Titillium Web', sans-serif;
    transition: all .2s ease;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    margin: 5px;
    background-color: black;
}

/*Main Container*/


.main_page {
    flex-direction: column;
    width: 90%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    background-color: black;
    position: absolute;
    top: 0%;
    left: 0%;
}


.main_page button{
    width: 50%;
    height: 40%;
    min-width: 200px;
    min-height: 50px;
    cursor: pointer;
    font-size: calc(16px + 15 * ((100vw - 320px) / 680));
    margin: 0 auto;
}



.column {
        position: relative;
	    flex: 30%;
	    padding: 5px;
	}



.container {
	    display: flex;
	}


/*Help Icon Style*/
.help{
    display: inline-block;
    position: absolute;
    min-width: 40px;
    min-height: 40px;
    width: auto;
    height: auto;
    margin: 0 auto;
    top: 5%;
    left: 3%;
}

.help .question {
    min-height: 40px;
    min-width: 40px;
    background: #ccc;
    font-size: 32px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.help .helpmessage {
    visibility: hidden;
    min-width: 250px;
    background-color: #ccc;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 4%;
    left: 3%;
}


.help:hover .helpmessage{
    visibility: visible;
}

/**/


/* Color styles: difine the colors and their hoover */
.blue {
    background-color : rgba(0, 100, 200, 1);
}

.blue:hover {
    background-color: rgba(0, 155, 255, 1);
}

.green {
    background-color: rgba(0, 200, 100, 1);
}

.green:hover {
    background-color: rgba(0, 255, 155, 1);
}

.yellow{
    background-color: rgba(190, 200, 50, 1);
}

.yellow:hover{
    background-color: rgba(240, 250, 60, 1);;
}